/* MAIN */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
img {
  display: block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* /MAIN */

/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-text {
  color: #2e2f42;
}
.menu-item-link {
  display: block;
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-item:hover {
  color: #404bbf;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-item-link:hover,
.menu-item-link:active,
.menu-item-link:focus {
  color: #404bbf;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.menu-contacts-item {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts-item:hover,
.menu-contacts-item:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item .current::after {
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  margin-top: 20px;
  content: "";
  left: 0;
  bottom: -1px;
}

/* HEADER */

/* SECTION 1 TITLE */

.section-title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
}

.main-button {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:active,
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}
/* SECTION 1 TITLE */

/* SECTION 2 */

.section-desc {
  min-width: 1129px;
}
.desc-item {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
}
.desc-cart {
  min-width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.desc-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.desc-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  fill: #2e2f42;
  padding: 24px 100px;
  margin-bottom: 8px;
}
.section-two {
  fill: #2e2f42;
}
/* SECTION 2 */

/* SECTION 3 (OUR TEAM) */

.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.team-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  background-color: #fff;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 24px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-main-list {
  width: ((100%-72px)/4);
}

.team-link {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-blok {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.contact-link {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-team {
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* SECTION 4 (OUR PORTFOLIO) */
.portfolio section {
  padding: 120px 0;
}
.portfolio-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  background: #fff;
}
.container-main-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-main-list {
  gap: 32px;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-stop {
  position: relative;
  overflow: hidden;
}
.overlay {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-main-list:hover .overlay {
  transform: translateY(0%);
}

/* FOOTER */
.main-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.container-footer {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container-one {
  margin-right: 120px;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer-text {
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-text-top {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-text-bottom {
  margin: 0 0 16px 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.footer-contact {
  display: flex;
  gap: 16px;
}
.footer-contact-list {
  align-items: flex-start;
  width: 40px;
  height: 40px;
}
.footer-contact-link {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-icon-fly {
  fill: #f4f4fd;
  margin-left: 16px;
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  background-color: #31d0aa;
}
/* free */
.container-free {
  margin-left: 80px;
}
.form-footer {
  display: flex;
  gap: 24px;
}

.mail-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
}
.email-footer {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #2e2f42;
  padding-left: 16px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}

/* 1





















*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* button */
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: none;
  line-height: 0;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /button */

.review-form-description {
  width: 360px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-wrapper-comment {
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 4px;
  color: #8e8f99;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms linear;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
}

.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #404040;
  transition: fill 250ms linear;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}

.review-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-comment:focus {
  border-color: #4d5ae5;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(64, 64, 64, 0.6);
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;
  margin-right: 12px;
  fill: rgba(46, 47, 66, 0.4);
  fill: transparent;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  border-color: #404bbf;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  outline: 1px solid rgba(0, 0, 255, 0.5);
}
.review-form-own-checkbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-own-checkbox-icon {
  fill: #ffffff;
  opacity: 0;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox-icon {
  opacity: 1;
  border: none;
  fill: #f4f4fd;
}
.accent-color {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
}

.review-form-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
