/* ========Default styles =========*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
img {
  display: block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* =


==========MOBILE===========


= */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.contacts {
  display: none;
}
.menu {
  display: none;
}

.page-header {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mobile-menu-open-btn {
  fill: #2f2f37;
  line-height: 0;
  background-color: transparent;
  border: none;
}
.mobile-menu-close-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: #f4f4fd;
  background-color: transparent;
}
.mobile-menu-close-btn-icon {
  fill: #2f2f37;
  line-height: 0;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=== Section 1=== */

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/po-mobile.jpg);
  max-width: 320px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .section-title {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/po-mobile@2x.jpg);
  }
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 169px;
  margin-bottom: 72px;
}
.main-button {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Section2 */
.section-two {
  display: none;
}
.section-desc {
  min-width: 288px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.desc-item {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}
.desc-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.desc-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
/* Section3 */
.our-team {
  min-width: 320px;
  flex-shrink: 0;
  padding: 96px 0;
  background-color: #f4f4fd;
}
.team-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
/* Social */
.contact-blok {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.contact-link {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-team {
  fill: #f4f4fd;
}
/* Section4 */
.portfolio {
  min-width: 288px;
  padding: 96px 0;
}
.overlay-stop {
  display: flex;
  justify-content: center;
}
.portfolio-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
  background: #fff;
}
.container-main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.overlay {
  display: none;
}

/* Footer */
.container-footer {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
  min-width: 288px;
  padding-top: 97.5px;
  padding-bottom: 96px;
}
.footer-contact {
  display: flex;
  gap: 24px;
}
.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 288px;
  gap: 17.5px;
}
.logo-footer {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.logo-footer-text {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.footer-text-top {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  width: 288px;
}
.container-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.footer-text-bottom {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.main-footer {
  background-color: #2e2f42;
  min-width: 288px;
}
/* 3 */
.team-link {
  width: 264px;
  height: 428px;
}
.form-footer,
.mail-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  gap: 16px;
}
.mail-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
}
.footer-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
}
.email-footer {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #2e2f42;
  padding-left: 16px;
  border: 1px solid #fff;
  background-color: transparent;
}
.footer-contact-list {
  align-items: flex-start;
  width: 40px;
  height: 40px;
}
.footer-contact-link {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-icon-fly {
  fill: #f4f4fd;
  margin-left: 16px;
}

/* ===Mobile-menu ===*/

.mobile-menu-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-wrapper .is-open {
  transform: translateX(0%);
  display: flex;
}
.mobile-social-contact {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 16px;
  line-height: 0;
}
.mobile-contact-link {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact-wrapper {
  margin-top: auto;
}
.mobile-contact-list {
  align-items: flex-start;
  width: 40px;
  height: 40px;
}
.mobile-current {
  color: #404bbf;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
.mobile-menu-item-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

/*===Modal window===*/

.backdrop .is-open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: none;
  line-height: 0;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  width: 256px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-wrapper-comment {
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 4px;
  color: #8e8f99;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms linear;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
}

.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #404040;
  transition: fill 250ms linear;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}

.review-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-comment:focus {
  border-color: #4d5ae5;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(64, 64, 64, 0.6);
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;
  margin-right: 12px;
  fill: rgba(46, 47, 66, 0.4);
  fill: transparent;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  border-color: #404bbf;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  outline: 1px solid rgba(0, 0, 255, 0.5);
}
.review-form-own-checkbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-own-checkbox-icon {
  fill: #ffffff;
  opacity: 0;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox-icon {
  opacity: 1;
  border: none;
  fill: #f4f4fd;
}
.accent-color {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
}

.review-form-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* =



========TABLET==========


= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .contacts {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .mobile-menu-wrapper {
    display: none;
  }
  .backdrop {
    display: flex;
  }
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
  .menu-item-link {
    display: block;
    text-decoration: none;
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .menu-contacts-item {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.04em;
  }
  .current {
    color: #404bbf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
  /* Section1 */
  .section-title {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/po-tablet.jpg);
    max-width: 768px;
    height: 436px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .section-title {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/po-tablet@2x.jpg);
    }
  }
  .main-title {
    max-width: 496px;
    color: #fff;
    text-align: center;
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }

  /* Section2 */

  .section-desc {
    min-width: 768px;
  }
  .desc-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .desc-cart {
    width: 356px;
  }
  .desc-title {
    max-width: 356px;
  }
  /* Section3 */
  .our-team {
    min-width: 768px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  /* Section4 */

  .container-portfolio {
    min-width: 736px;
  }
  .portfolio-list {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-main-list {
    width: 356px;
  }

  /* Footer */

  .main-footer {
    min-width: 768px;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    width: 584px;
    margin: 0 auto;
  }
  .container-one {
    display: block;
  }
  .footer-text-top {
    margin-top: 17.5px;
  }
  .container-two {
    align-items: unset;
    padding-bottom: 28px;
  }
  .form-footer {
    flex-direction: row;
  }
  .mail-text {
    display: block;
  }
  /*==Modal window===*/
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
/* =
  
  
  ==============DESK============
  
  
  = */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .backdrop {
    display: flex;
  }
  .menu {
    margin-left: 76px;
  }
  .menu-contacts {
    flex-direction: row;
    gap: 40px;
  }

  /* Section1 */
  .section-title {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/po-desktop.jpg);
    max-width: 1440px;
    height: 600px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .section-title {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/po-desktop@2x.jpg);
    }
  }
  .main-title {
    margin-bottom: 48px;
  }
  /* Section2 */
  .section-two {
    display: flex;
  }
  .section-desc {
    min-width: 1128px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .desc-item {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .desc-cart {
    min-width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    fill: #2e2f42;
    padding: 24px 100px;
    margin-bottom: 8px;
  }
  .desc-title {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .desc-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Section3 */
  .team-list {
    flex-wrap: nowrap;
  }
  /* Section4 */
  .portfolio {
    min-width: 1128px;
  }

  .overlay {
    display: flex;
  }
  .section {
    padding: 96px 0;
  }
  .portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    background: #fff;
  }
  .container-main-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio-main-list {
    gap: 32px;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .overlay-stop {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-main-list:hover .overlay {
    transform: translateY(0%);
  }
  /* Footer */
  .main-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    gap: unset;
  }
  .container-one {
    margin-right: 120px;
  }

  .logo-footer-text {
    color: #f4f4fd;
    margin-bottom: 16px;
  }

  .footer-contact {
    display: flex;
    gap: 16px;
  }
  .footer-contact-list {
    align-items: flex-start;
    width: 40px;
    height: 40px;
  }
  .footer-contact-link {
    fill: #f4f4fd;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-contact-icon-fly {
    fill: #f4f4fd;
    margin-left: 16px;
  }
  .footer-contact-link:hover,
  .footer-contact-link:focus {
    background-color: #31d0aa;
  }
  /* free */
  .container-free {
    margin-left: 80px;
  }
  .form-footer {
    display: flex;
    gap: 24px;
  }
  .form-footer {
    display: flex;
    flex-direction: row;
  }
}
